<%- include("./partials/header.ejs") %> 
<div class="container">
    <h1 class="">Dashboard</h1>
    <div class="divider"></div><br>
    
    <h4>Welcome <%= name %></h4>
    <a href="/user/logout" class="btn btn-secondary">Logout</a>
</div>
<%- include("./partials/footer.ejs") %> 