<%- include("./partials/header.ejs") %> 
<div class="container"><br><br>
    <div class="row">
        <div class="col m3"></div>
        <div class="col m6">
            <div class="card">
                <div class="card-content center-align">
                    <div class="card-title"><b><strong>Passport Login Project</strong></b></div>
                    <div class="divider"></div><br>
                    <a href="/user/login" class="btn-small waves-effect purple darken-3">Login</a><br>
                    <a href="/user/register" class="btn-small waves-effect grey darken-3">Register</a>
                </div>
            </div>
        </div>
        <div class="col m3"></div>
    </div>
</div>
<%- include("./partials/footer.ejs") %> 